@charset "UTF-8";

fieldset{
    width: 400px;
    padding: 20px;
    margin: 10% auto;
    border-radius: 20px;
    background-color: #0f003f;
    text-align: center;
    box-shadow: 8px 8px 8px 8px rgba(0,0,255,0.2);
}
legend{
    background-color: #fff;
    color: #0f003f;
    border-radius: 5px;
}

input{
    background-color: #0f003f;
    color: white;
    border:3px solid #3498db;
    border-radius: 20px;
    margin-bottom:5px;
    width: 200px;

}
.info input:focus{
    background-color: #0f003f;
    border-color: #2ecc71;
    width:280px;
    transition: 0.2s;
}
button {
    color: #fff;
    border-color: #2ecc71;
    border-radius: 10px;
    margin-top: 10px;
    width: 200px;
    transition: 0.2s;
}
button:hover{
    background-color: green;
    width: 280px;
    transition: 0.2s;
}